

@font-face {
    font-family: $ff-JostLight;
    src: url(../assets/fonts/Jost/static/Jost-Light.ttf);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: $ff-JostRegular;
    src: url(../assets/fonts/Jost/static/Jost-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-JostMedium;
    src: url(../assets/fonts/Jost/static/Jost-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $ff-JostSemiBold;
    src: url(../assets/fonts/Jost/static/Jost-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}




