
$color-white: #FFFFFF;
$color-black: #3A3A3A;
$color-grey: #BABABA;
$color-brown: #C6AA83;
$color-pink: #F4EBCF;


$ff-JostLight: 'Jost-Light';
$ff-JostRegular: 'Jost-Regular';
$ff-JostMedium: 'Jost-Medium';
$ff-JostSemiBold: 'Jost-SemiBold';