

#discount{
    width: 100%;
    margin-top: 100px;


    .wrapper{
        background-color: $color-pink;
        padding-top: 27.19px;
        padding-left: 30px;
        min-height: 435px;
        .discount__title{
            @include font-style(34px, $ff-JostRegular, $color-black);
            margin-bottom: 50px;
        }
        .discount__banner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--title{
                @include font-style(60px, $ff-JostMedium, $color-black);
                max-width: 882px;
                line-height: 1.5;
            }
            &--img{
                margin-right: 100px;
            }
        }    
    }
}

@media only screen and (max-width: 1000px)  {
    #discount{
        width: 100%;
        margin-top: 100px;
        .wrapper{
            background-color: $color-pink;
            padding-top: 25px;
            padding-left: 20px;
            min-height: 400px;
            .discount__title{
                @include font-style(30px, $ff-JostRegular, $color-black);
                margin-bottom: 40px;
            }
            .discount__banner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &--title{
                    @include font-style(45px, $ff-JostMedium, $color-black);
                    max-width: auto;
                    line-height: 1.5;
                }
                &--img{
                    margin-right: 35px;
                    max-width: 200px;
                }
            }    
        }
    }
}
@media only screen and (max-width: 768px)  {
    #discount{
        width: 100%;
        margin-top: 100px;
        .wrapper{
            background-color: $color-pink;
            padding-top: 25px;
            padding-left: 20px;
            min-height: 350px;
            .discount__title{
                @include font-style(25px, $ff-JostRegular, $color-black);
                margin-bottom: 40px;
            }
            .discount__banner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &--title{
                    @include font-style(35px, $ff-JostMedium, $color-black);
                    max-width: auto;
                    line-height: 1.4;
                }
                &--img{
                    margin-right: 25px;
                    max-width: 180px;
                }
            }    
        }
    }
}
@media only screen and (max-width: 580px)  {
    #discount{
        width: 100%;
        margin-top: 100px;
        .wrapper{
            background-color: $color-pink;
            padding-top: 25px;
            padding-left: 20px;
            min-height: 300px;
            .discount__title{
                @include font-style(18px, $ff-JostRegular, $color-black);
                margin-bottom: 30px;
            }
            .discount__banner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &--title{
                    @include font-style(25px, $ff-JostMedium, $color-black);
                    max-width: auto;
                    line-height: 1.4;
                }
                &--img{
                    margin-right: 25px;
                    max-width: 160px;
                }
            }    
        }
    }
}
@media only screen and (max-width: 420px)  {
    #discount{
        width: 100%;
        margin-top: 100px;
        .wrapper{
            background-color: $color-pink;
            padding-top: 25px;
            padding-left: 20px;
            min-height: 225px;
            .discount__title{
                @include font-style(14px, $ff-JostRegular, $color-black);
                margin-bottom: 10px;
            }
            .discount__banner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &--title{
                    @include font-style(20px, $ff-JostMedium, $color-black);
                    max-width: auto;
                    line-height: 1.4;
                }
                &--img{
                    margin-right: 10px;
                    max-width: 150px;
                }
            }    
        }
    }
}